.marquee-container {
  width: 90%;
  height: 40px;
  overflow: hidden;
  margin-left: 29px;
  margin-top: -34px;
  position: relative;
}

.marquee-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  animation: scrollAnimation 9s linear infinite;
}

.marquee-item {
  height: 40px;
  line-height: 20px;
  display: flex;
  align-items: center;
  white-space: normal;
  vertical-align: middle;
  color: #333;
  padding: 0 8px;
}

@keyframes scrollAnimation {
  0%, 33.33% {
    top: 0;
  }
  36.33%, 66.66% {
    top: -40px;
  }
  69.66%, 100% {
    top: -80px;
  }
}

.selectbox-draw {
}

#mobile-header {
  z-index: 99;
}

.strike {
  text-decoration: line-through;
  opacity: 0.6;
}

.btn[disabled] {
  background-color: #cccccc !important;
  color: #666;
  border: none;
}

.slot-container {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.lotto-ball {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

