
.icon-close:before { content: '\e800'; } /* '' */
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-motto:before { content: '\e802'; } /* '' */
.icon-question:before { content: '\e803'; } /* '' */
.icon-bubble-kakao:before { content: '\e804'; } /* '' */
.icon-logo:before { content: '\e805'; } /* '' */
.icon-pen:before { content: '\e806'; } /* '' */
.icon-box:before { content: '\e807'; } /* '' */
.icon-point:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-coupon:before { content: '\e80a'; } /* '' */
.icon-ticket:before { content: '\e80b'; } /* '' */
.icon-truck:before { content: '\e80c'; } /* '' */
.icon-arrow-left:before { content: '\e80d'; } /* '' */
.icon-arrow-down:before { content: '\e80e'; } /* '' */
.icon-arrow-up:before { content: '\e80f'; } /* '' */
.icon-box-fill:before { content: '\e810'; } /* '' */
.icon-check-line:before { content: '\e811'; } /* '' */
.icon-check-circle-fill:before { content: '\e812'; } /* '' */
.icon-line-scan:before { content: '\e813'; } /* '' */
.icon-photo:before { content: '\e814'; } /* '' */
.icon-qr-scan:before { content: '\e815'; } /* '' */
.icon-camera:before { content: '\e816'; } /* '' */
.icon-question-circle-fill:before { content: '\e817'; } /* '' */
.icon-question-circle-line:before { content: '\e818'; } /* '' */
.icon-apple-fill:before { content: '\e819'; } /* '' */
.icon-bell-fill:before { content: '\e81a'; } /* '' */
.icon-bubble-line:before { content: '\e81b'; } /* '' */
.icon-bubble-multi-fill:before { content: '\e81c'; } /* '' */
.icon-bubble-multi-line:before { content: '\e81d'; } /* '' */
.icon-card-random-fill:before { content: '\e81e'; } /* '' */
.icon-clock-fill:before { content: '\e81f'; } /* '' */
.icon-clock-line:before { content: '\e820'; } /* '' */
.icon-clover-fill:before { content: '\e821'; } /* '' */
.icon-clover-line:before { content: '\e822'; } /* '' */
.icon-dice-fill:before { content: '\e823'; } /* '' */
.icon-dice-line:before { content: '\e824'; } /* '' */
.icon-door-fill:before { content: '\e825'; } /* '' */
.icon-door-line:before { content: '\e826'; } /* '' */
.icon-geo-line-1:before { content: '\e827'; } /* '' */
.icon-geo-line:before { content: '\e828'; } /* '' */
.icon-gift-fill:before { content: '\e829'; } /* '' */
.icon-gift-line:before { content: '\e82a'; } /* '' */
.icon-heart-fill:before { content: '\e82b'; } /* '' */
.icon-heart-line:before { content: '\e82c'; } /* '' */
.icon-more-h:before { content: '\e82d'; } /* '' */
.icon-more-v:before { content: '\e82e'; } /* '' */
.icon-shoe-fill:before { content: '\e82f'; } /* '' */
.icon-shoe-line:before { content: '\e830'; } /* '' */
.icon-shoppingbag-fill:before { content: '\e831'; } /* '' */
.icon-shoppingbag-line:before { content: '\e832'; } /* '' */
.icon-user-fill:before { content: '\e833'; } /* '' */
.icon-user-line:before { content: '\e834'; } /* '' */
.icon-video-circle-fill:before { content: '\e835'; } /* '' */
