
.icon-close:before { content: '\e800'; } /* '' */
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-motto:before { content: '\e802'; } /* '' */
.icon-question:before { content: '\e803'; } /* '' */
.icon-bubble-kakao:before { content: '\e804'; } /* '' */
.icon-logo:before { content: '\e805'; } /* '' */
.icon-pen:before { content: '\e806'; } /* '' */
.icon-box:before { content: '\e807'; } /* '' */
.icon-point:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-coupon:before { content: '\e80a'; } /* '' */
.icon-ticket:before { content: '\e80b'; } /* '' */
.icon-truck:before { content: '\e80c'; } /* '' */
.icon-arrow-left:before { content: '\e80d'; } /* '' */
.icon-arrow-down:before { content: '\e80e'; } /* '' */
.icon-arrow-up:before { content: '\e80f'; } /* '' */
.icon-box-fill:before { content: '\e810'; } /* '' */
